{% load static %}
<!-- ładujemy pliki statyczne -->
<html>
  <head>
    <title>Django Girls blog</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css" />
    <link
      href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="page-header">
      <!-- Ten if spowoduje, że link zostanie wysłany do przeglądarki tylko wtedy, kiedy użytkownik chcący wyświetlić tę stronę jest zalogowany -->
      <!-- Sposób ten nie chroni od tworzenia wpisów w 100%, ale jest to dobry pierwszy krok, więcej o zagadnieniu bezpieczeństwa dowiedzieć będzie można się z rozszerzenia do tego kursu django girls -->
      {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}" class="top-menu"
        ><span class="glyphicon glyphicon-plus"></span
      ></a>
      {% endif %}
      <!-- Używamy klasy glyphicon glyphicon-plus, która jest dostarczana przez motyw z bootstrapa, wyświetli nam ona znak plus -->
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
